<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calender</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="/static/css/calender.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>


</head>
<body>
<nav class="navbar navbar-dark bg-dark container-fluid pl-20 pr-20">
    <!-- Startseite & Logindaten -->
    <div class="row pl-3">
        <a class="loggedIn btn btn-light mr-sm-2" href="register">Login</a>
    </div>
</nav>

<div class="container-fluid mt-5">
    <div class="row">
        <div class="overflow-hidden w-25">
            <div class="overflow-hidden col border rounded p-2 container-sm bg-primary ">
                <h1 class="text-white">stuff</h1>
                <button class="btn btn-secondary" onclick="newMeeting()">Neuer Termin</button>
            </div>
        </div>
        <div class="overflow-auto w-75">
            <div class="col border rounded p-2 container-sm bg-primary ">
                <h1 class="text-white">Termin Übersicht</h1>
                <div id="calenderContent">
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    window.onload = createCalender()

    function f() {

        var myJSON = '{"D":[' +
            '{"terminName":"Essen","Date":[{"dateDay": 21 ,"dateMonth": 7 ,"dateYear": 2022, "dateHour": 16 ,"dateMinute": 55}], "terminID": 0},' +
            '{"terminName":"Anderes Ding","Date":[{"dateDay": 25 ,"dateMonth": 7 ,"dateYear": 2022, "dateHour": 16 ,"dateMinute": 55}], "terminID": 0}' +
            ']}'
        const myObj = JSON.parse(myJSON)

        return (myObj)
    }

    function deleteItem(ID) {
        console.log(ID)
    }

    function createCalender() {
        console.log(f().D)
        var calenderEntries = document.createElement("div")
        response = f().D

        response.forEach(element => {

            console.log(element)

            document.getElementById("calenderContent").appendChild(calenderEntries)
            var aItem = document.createElement('div');
            aItem.classList.add('calenderCSS')

            let btn = document.createElement("button")
            btn.innerHTML = "Cancel"
            btn.onclick = function () {
                console.log("click")
                calenderEntries.removeChild(aItem)
                deleteItem(element.terminID)

            }

            var date = element.Date[0]

            aItem.innerHTML = '' +
                '  ' + date.dateDay + '.' + date.dateMonth + '.' + date.dateYear + '' +
                '  ' + element.terminName + ' ' +
                '  ' +
                ''
            calenderEntries.appendChild(aItem);

            aItem.appendChild(btn);

        });

    }

    function newMeeting() {

    }
</script>

</body>
</html>