<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calender</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="{{ url_for('static', path='/js/repo.js') }}" type="module"></script>
    <script src="{{ url_for('static', path='/js/calendar.js') }}" type="module"></script>

    <!-- Wird für JS Bootstrap benötigt, was ich für die Bootstrap Modal benötige -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</head>

<body>
<nav data-navbar class="navbar navbar-dark bg-dark container-fluid pl-20 pr-20"></nav>

<div class="container mt-5">

    <h1>Termine</h1>
    <hr>
    <button class="btn btn-success mr-sm-2" type="button" data-toggle="modal"
            data-target="#createModal">Termin erstellen
    </button>
    <hr>
    <div id="calenderContent">
    </div>

</div>
<!--Modalfenster fürs Erstellen von Terminen -->
<div id="createModal" class="modal fade " role="dialog">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content overflow-auto">
            <form action="" data-form method="post" class="form-container">
                <div class="modal-header">
                    <h4 class="modal-title">Termin erstellen</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <label for="Titel"><b>Titel</b></label>
                    <input type="text" name="title" id="Titel" required><br>

                    <label for="Start"><b>Start Datum</b></label>
                    <input type="datetime-local" name="start_date" id="Start" max="2100-01-01T00:00" required><br>

                    <label for="Ende"><b>End Datum</b></label>
                    <input type="datetime-local" name="end_date" id="Ende" max="2100-01-01T00:00" required><br>

                    <label for="Beschreibung"><b>Beschreibung</b></label>
                    <input type="text" name="description" id="Beschreibung"><br>

                    <label for="Ort"><b>Ort</b></label>
                    <input type="text" name="location" id="Ort"><br>

                </div>
                <div class="modal-footer justify-content-start">
                    <!-- j-c-b macht, dass die eine Gruppe links und die andere rechts ist-->
                    <div>
                        <button class="btn btn-primary" type="button" data-toggle="collapse"
                                data-target="#collapse" aria-expanded="false" aria-controls="collapseExample" id="addParticipant">
                            Personen Hinzufügen
                        </button>
                    </div>
                    <div class="collapse w-75" id="collapse">
                        <div>
                            <h4>Personen Hinzufügen</h4>
                            <div id="participantsContent">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-end">
                    <!-- j-c-b macht, dass die eine Gruppe links und die andere rechts ist-->
                    <div>
                        <button id="createButton" type="submit" class="btn btn-success mr-sm-2">
                            Termin erstellen
                        </button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>
</div>
</body>
</html>