<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User List</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', path='/js/contacts.js') }}" type="module"></script>
</head>
<body>
<!-- Navigationsleiste, wird über repo.js gefüllt. -->
<nav data-navbar class="navbar navbar-dark bg-dark container-fluid pl-20 pr-20"></nav>

<div class="container mt-5">
    <div class="row pt-5">
        <h1>Adressbuch</h1>
    </div>
    <div>
        <div data-alert hidden="" class="alert alert-danger p-1"></div>
        <hr>
        <button class="btn btn-success mr-sm-2" type="button" data-toggle="modal"
                data-target="#createModal">Neuen Kontakt erstellen
        </button>
        <hr>
        <div id="createModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <form data-form class="form-container" action="" method="post">
                        <div class="modal-header">
                            <h4 class="modal-title">Neuen Kontakt erstellen</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <label for="name"></label><input data-name type="text" class="form-control"
                                                             placeholder="Nachname" id="name" name=name
                                                             maxlength="25" required>

                            <label for="firstname"></label><input data-firstname type="text" class="form-control"
                                                                  placeholder="Vorname" id="firstname"
                                                                  name=firstname maxlength="25" required>

                            <label for="email"></label><input data-email type="email" class="form-control"
                                                              placeholder="Email" id="email"
                                                              name=email maxlength="50" required>
                        </div>
                        <div class="modal-footer justify-content-end">
                            <div>
                                <button id="createButton" type="submit" class="btn btn-primary mr-sm-2">
                                    Kontakt erstellen
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Vorname</th>
            <th scope="col">E-Mail</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody data-table id="userList">

        </tbody>
    </table>
</div>

</body>
</html>