<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hallo Welt</title>
    <link href="{{ url_for('static', path='/css/index.css') }}" rel="stylesheet">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="{{ url_for('static', path='/js/index.js') }}" defer></script>
</head>
<body>
<nav data-nav-loggedIn class="navbar navbar-dark bg-dark container-fluid pl-20 pr-20" hidden>
    <div class="d-flex">
        <div class="row pl-3">
            <a class="loggedIn btn btn-danger mr-sm-2" href="/logout">Ausloggen</a>
            <div>
                <p class="loggedIn text-white text-justify m-2 mr-4">Eingeloggt als: <b class="text-white"
                                                                                        data-me></b>
                </p>
            </div>
        </div>
        <div>
            <a class="btn btn-success mr-sm-2" href="/calendar">Kalender</a>
            <a class="btn btn-success mr-sm-2" href="/todo">Todos</a>
            <a class="btn btn-warning mr-sm-2" href="/contact">Adressbuch</a>
        </div>
    </div>
</nav>
<nav data-nav-loggedOut class="navbar navbar-dark bg-dark container-fluid pl-20 pr-20" hidden>
    <div class="row pl-3">
        <a class="loggedIn btn btn-light mr-sm-2" href="/login">Login</a>
        <a class="loggedIn btn btn-light mr-sm-2" href="/register">Register</a>
    </div>
</nav>
<h1>Hallo Welt!!!</h1>
<p>Willkommen auf unserer wunderbaren Seite!</p>
<div data-plugins-container></div>
</body>
</html>