<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ToDo-Liste</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- Wird für JS Bootstrap benötigt, was ich für die Bootstrap Modal benötige -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', path='/js/repo.js') }}" type="module"></script>
    <script src="{{ url_for('static', path='/js/todo.js') }}" type="module"></script>
</head>
<body>
<!-- Navigationsleiste, wird über repo.js gefüllt. -->
<nav data-navbar class="navbar navbar-dark bg-dark container-fluid pl-20 pr-20"></nav>

<!-- Seiteninhalt -->
<div class="container mt-5">
    <h1>ToDo - Liste</h1>
    <div data-alert hidden="" class="alert alert-danger p-1"></div>
    <hr>
    <button class="btn btn-success mr-sm-2" type="button" data-toggle="modal" data-target="#createModal">
        Neues ToDo erstellen
    </button>
    <hr>
    <div class="d-flex flex-row justify-content-around">
        <h2 class="flex-column text-center">Zu erledigen</h2>
        <!-- Gedacht später als Knöpfe zu dienen, um zwischen un-/fertig zu wechseln -->
        <h2 class="flex-column text-center">Erledigt</h2>
    </div>
    <div class="row">
        <div data-active-container class="w-50 p-1 col"></div>
        <div data-finished-container class="w-50 p-1 col"></div>
    </div>
</div>
<!--Modalfenster fürs Erstellen von Todos -->
<div id="createModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <form data-form-create id="createTodo">
                <div class="modal-header">
                    <h4 class="modal-title">ToDo erstellen</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <label class="m-0 mt-1"> Titel</label>
                    <input class="form-control" id="title" name=title required maxlength="128">
                    <label class="m-0 mt-1">Beschreibung</label>
                    <textarea class="form-control" id="description"
                              name=description></textarea>
                </div>
                <div class="modal-footer justify-content-end">
                    <button class="btn btn-success mt-1 text-white" id="button" name=button
                            type="submit">Neues ToDo erstellen
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--Modalfenster fürs Editieren von Todos -->
<div id="editModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <form data-form-edit id="editTodo">
                <div class="modal-header">
                    <h4 class="modal-title">ToDo editieren</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <input data-edit-uuid type="hidden" id="uuid">
                    <label class="m-0 mt-1"> Titel</label>
                    <input data-edit-title class="form-control" id="title" name=title required maxlength="128">
                    <label class="m-0 mt-1">Beschreibung</label>
                    <textarea data-edit-description class="form-control" id="description"
                              name=description></textarea>
                </div>
                <div class="modal-footer justify-content-end">
                    <button class="btn btn-success mt-1 text-white"
                            type="submit">Änderungen speichern
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>