<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ToDo-Liste</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="{{ url_for('static', path='/js/repo.js') }}" type="module"></script>
    <script src="{{ url_for('static', path='/js/todo.js') }}" type="module"></script>
</head>
<body>
<!-- Navigationsleiste -->
<nav class="navbar navbar-dark bg-dark container-fluid pl-20 pr-20">
    <!-- Logindaten -->
    <div class="row pl-3">
        <a class="loggedIn btn btn-danger mr-sm-2" href="login.html">Ausloggen</a>
        <div>
            <p class="loggedIn text-white text-justify m-2 mr-4">Eingeloggt als: <b class="text-white"
                                                                                    id="loggedUser"></b>
            </p>
        </div>
    </div>
    <!-- Kalender und Adressbuch -->
    <div>
        <a class="btn btn-success mr-sm-2" href="calender.html">Kalender</a>
        <a class="btn btn-warning mr-sm-2" href="contacts.html">Adressbuch</a>
    </div>
</nav>

<!-- Seiteninhalt -->

<div class="container mt-5">
    <h1>ToDo - Liste</h1>
    <hr>
    <a data-open-create-form-button class="btn btn-success m-1">Neues ToDo erstellen</a>
    <div data-create-form class="p-2 border border-success rounded highlight mb-1">
        <form>

            <label class="m-0 mt-"> Titel</label>
            <input class="form-control">

            <label class="m-0 mt-1">Beschreibung</label>
            <textarea class="form-control"></textarea>
            <div class="d-flex justify-content-between">
                <a data-close-create-form-button class="btn btn-warning mt-1">Schließen</a>
                <a data-create-button class="btn btn-success mt-1">Neues ToDo erstellen</a></div>
        </form>

    </div>
    <hr>
    <div class=row>
        <h2 class="col text-center">Zu erledigen</h2>
        <!-- Gedacht später als Knöpfe zu dienen, um zwischen un-/fertig zu wechseln -->
        <h2 class="col text-center">Erledigt</h2>
        <div class="w-100"></div> <!-- Trenner -->
        <div data-active-container class="col"></div>
        <div data-finished-container class="col"></div>
    </div>
</body>
</html>