<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="{{ url_for('static', path='/js/user.js') }}" type="module"></script>
</head>
<body>
<!-- Navigationsleiste, wird über repo.js gefüllt. -->
<nav data-navbar class="navbar navbar-dark bg-dark container-fluid pl-20 pr-20"></nav>

<!-- Seiteninhalt -->
<div class="container mt-5">
    <div data-alert hidden="" class="alert alert-danger p-1"></div>
    <h1>Benutzer</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>E-Mail</th>
            <th><div class="text-right">Einstellungen</div></th>
        </tr>
        </thead>
        <tbody data-user-container></tbody>
    </table>
</div>
</body>
</html>